.realname {
    background: #ffffff;
    padding: 30px 10px;
    border-radius: 12px;
    margin: 0 10%;
    .title {
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "黑体";
      font-size: 16px;
      .line_line {
        transform: rotate(180deg);
        -ms-transform: rotate(180deg); /* Internet Explorer */
        -moz-transform: rotate(180deg); /* Firefox */
        -webkit-transform: rotate(180deg); /* Safari 和 Chrome */
        -o-transform: rotate(180deg); /* Opera */
      }
      .line {
        height: 3px;
        width: 45px;
        margin: 0 5px;
      }
    }
    .point {
      width: 100%;
      text-align: center;
      color: #2174d8;
      font-size: 14px;
    }
    .image {
      text-align: center;
      .img {
        width: 50px;
        height: 50px;
      }
      .center {
        margin: 0 30px;
      }
      .number {
        display: inline-block;
        width: 50px;
        .num {
          display: inline-block;
          line-height: 18px;
          width: 18px;
          height: 18px;
          background: #2174d8;
          color: #fffefe;
          font-size: 10px;
          border-radius: 100%;
          margin: 0;
        }
  
        .step {
          color: #2174d8;
          font-size: 12px;
        }
      }
      .flex {
        // width: 100%;
        position: relative;
        .blueline_left {
          position: absolute;
          top: 9px;
          left: -46px;
          display: inline-block;
          height: 0.5px;
          width: 65px;
          background: #2174d8;
        }
        .blueline_right {
          position: absolute;
          top: 9px;
          display: inline-block;
          height: 0.5px;
          width: 65px;
          background: #2174d8;
        }
      }
    }
    .note {
      //   margin-left: 10%;
      margin: 10px;
      .round {
        display: inline-block;
        width: 5px;
        height: 5px;
        border-radius: 100%;
        background: #3954ff;
        margin: 0 5px;
      }
      .suggest {
        font-size: 13px;
      }
    }
    .bottom {
      width: 100%;
      margin-top: 30px;
      text-align: center;
      .confirm {
        width: 170px;
        height: 35px;
        border-radius: 18px;
        color: #ffffff;
        background-image: linear-gradient(to right, #6c8eff, #3954ff);
      }
      .think {
        margin-top: 15px;
        width: 100%;
        color: #999999;
        font-size: 14px;
      }
    }
  }